body {
  font-family: helvetica, verdana, sans-serif;
  color: #939396;
  background-color: #1D2475;
  background-image: url("cse326.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
h1 {
  display: inline-block;
  font-size: 40pt;
  color: #F7931E;
  text-shadow: 3px -3px green;
}
h2 {
  color: #F7931E;
}
dl {
  font-size: 70%;
}
dt{
  font-weight: bold;
}
p::first-letter {
  font-size: 150%;
  font-weight: bold;
}
a:link {
  color: #FF4F4F;
  text-decoration: none;
}
a:visited {
  color: #FF4F4F;
  text-decoration: none;
}
a:hover{
  color: #FF4F4F;
  text-decoration: underline;
}
strong {
  color: #FFF86B;
}
blockquote,ol,ul {
  text-align: left;
}
q {
  color: #D1DFEB;
}
table,th,td {
  border-style: dotted;
  border-collapse: collapse;
}
ul {
  list-style-type: square;
}
/* img#right {
  border: solid 1px black;
  position: fixed;
  top: 0;
  right: 0;
} */
img#line, #line2, #line3{
  border: thick ridge #F7931E;
}
